
.div1{
    width: 85%;
    height: 380px;
    margin: auto;
    text-align: center; 
    background-image: url(imgs/w1.jpg); 
    background-size: 100% 100%;
    position: relative;
    
    
    
}

.float{
    width: 70%;
    height: 48px;
    background-color: white;
    text-align: center; 
    position: fixed;
    top: 30px;
    left: 15%;
    margin: auto;
    border: 1px solid burlywood;
    z-index: 3;
    
}
 
.flex{
    color:rgba(192, 114, 61, 0.753) ;
    text-align: left;
    font-weight: bolder;
    font-size: 21px;
    display: inline-block; 
    margin: .5% 1% 1% 1%;
    padding: 1% 1% ;
    float: left;
    
}
a{
    margin: 1% .5% 1% .5%;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    color: rgb(83, 82, 80);
    display: inline-block;
    float: right;
    text-align: center;
    

}
.a{ 
    /* محاذاه العناصر لليمين بنفس ترتيبهم */
    display: flex; 
    justify-content: flex-end; 
    
}

.clear{
    clear: both;
}

.digital{
    position: absolute;
    bottom: 40px;
    left: 40%;
    margin: auto;
    color: white;
    text-transform: capitalize;

}

.p3{
    font-weight: bolder;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.button{
    margin: 1px 1px 1px 1px;
    padding: 15px 10px;
    border: 5px;
    background-color:  rgba(134, 72, 22, 0.822);
    color: white;
    z-index: 1;
    
}

.pnt{
    font-size: 50px;
    font-weight:900;
    color:  rgba(134, 72, 22, 0.822);
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    border: 0;

}

body{
    margin: 0%;
    padding: 0%;
    height: vh;
}



.div2 , .div3{
    width: 60%;
    margin: auto;
    text-align: center; 
    background-color: white; 
}

.p1{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}
.p2{
    text-transform: uppercase;
    font-size: 15px;
}
.c1{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-color: antiquewhite;
    margin: 5px 10px 5px 10px;
}
.c2{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-color: rgb(250, 215, 192);
    margin: 5px 10px 5px 10px;
}
.c3{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-color: rgb(235, 198, 173);
    margin: 5px 10px 5px 10px;
}
.c4{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-color: rgb(233, 222, 214);
    margin: 5px 10px 5px 10px;
}

.w1{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/ww1.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
.w2{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/ww3.jpg);
    background-size: cover;
    margin: 5px 5px 5px 5px;
}
.w3{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/ww.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
.w4{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/w2.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
.w5{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/w4.jpg);
    background-size: 120% 120%;
    margin: 5px 5px 5px 5px;
}
.w6{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/w5.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
.w7{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/ww2.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
.w8{
    width: 150px;
    height: 140px;
    display: inline-block;
    background-image: url(imgs/w6.jpg);
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
}
